// cards
.card {
  --card-background: var(--background);
  --card-color: var(--foreground);

  background: var(--card-background);
  color: var(--card-color);
  fill: var(--foreground);
  padding: 1rem;
  box-shadow: var(--box-shadow);
  box-sizing: border-box;
  margin: 1rem auto;
  position: relative;
  border-radius: var(--border-radius);

  + .card {
    margin-top: 2rem;
  }
}

@media only screen and (min-width: $breakpoint-lg) {
  .cardGrid {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    box-sizing: border-box;
    justify-content: center;

    .card {
      flex: 0 0 calc(50% - 2rem);
      width: auto;
      max-width: none;
      margin: 1rem;
    }
  }
}
