@use "../../styles/mixin";
@use "../../styles/typography";

.tile {
  --tile-background: var(--background);

  padding: 0.5rem;
  box-sizing: border-box;
  background: var(--transparent);

  .tile-header {
    position: relative;
    border-radius: 5px 5px 0 0;
    border: 1px solid var(--border-color);
    background: var(--background-mid);
    padding: 1rem;
    @include typography.fontValues(9);
    font-weight: 500;
    border-bottom: 1px solid var(--border-color);

    button.action {
      position: absolute;
      top: 50%;
      right: 0.5rem;
      transform: translateY(-50%);
    }
  }

  .tile-body {
    border-radius: 0 0 5px 5px;
    border: 1px solid var(--border-color);
    border-top: none;
    padding: 1rem;
    box-sizing: border-box;
    background: var(--tile-background);
    position: relative;

    .loading {
      display: block;
      height: 10rem;
    }
  }
}

.tile-flex {
  display: flex;
  flex-wrap: wrap;

  .tile {
    flex: 0 0 100%;
  }
}

@media only screen and (min-width: mixin.$breakpoint-md) {
  .tile-flex {
    .tile {
      flex: 1 0 50%;
    }
  }
}

@media only screen and (min-width: mixin.$breakpoint-lg) {
  .tile-flex {
    .tile {
      flex: 1 0 33.33%;
    }
  }
}

@media only screen and (min-width: mixin.$breakpoint-xl) {
  .tile-flex {
    .tile {
      flex: 1 0 25%;
    }
  }
}
