mixin tile(obj)
    -
      const className = obj.class || null,
        id = obj.id || null,
        header = obj.header || null
        
    div.tile(class=className, id=id)
		  .tile-header #{header}
      .tile-body
        block