@import "glide.core.scss";

:root {
    --carousel-breadcrumb-background: rgba(0,0,0,.2);
    --carousel-breadcrumb-active-background: var(--accent);
    --carousel-arrow-button-background: transparent;
    --carousel-arrow-button-color: var(--foreground-mid);
    --carousel-arrow-button-active-background: var(--accent);
    --carousel-arrow-button-active-color: var(--foreground);
}

.carousel {
    position: relative;

    .carousel-slides {
        margin: 0;
    }

    .slide {
        list-style-type: none;
    }

    button.arrow {
        background: var(--carousel-arrow-button-background);
        padding: 0;

        svg {
            height: 2rem;

            * {
                fill: var(--carousel-arrow-button-color);
            }
        }

        &:focus, &:hover {
            background: var(--carousel-arrow-button-active-background);

            svg {
                height: 2rem;

                * {
                    fill: var(--carousel-arrow-button-active-color);
                }
            }
        }
    }

    > .carousel-arrows {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        button.arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            &[data-slide-to=left] {
                left: 0;
            }

            &[data-slide-to=right] {
                right: 0;
            }
        }
    }

    > .carousel-breadcrumbs {
        display: flex;
        justify-content: center;
        width: 100%;
        position: absolute;
        bottom: 0;

        button.breadcrumb {
            flex: 0 0 auto;
            width: .75rem;
            height: .75rem;
            margin: 0 .25rem;
            padding: 0;
            border-radius: 50%;
            background: var(--carousel-breadcrumb-background);
            transition: all .5s ease;

            &.active {
                background: var(--carousel-breadcrumb-active-background);
            }
        }
    }
}
