:root {
    --progress-bar-background: var(--background-mid);
    --progress-bar-completed-color: var(--positive);
}

.progress-bar {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

    li {
        margin: 0;
        padding: 0;
        flex: 1 0 auto;
        list-style-type: none;
        text-align: center;
        position: relative;
        padding-top: 1.25rem;

        &::before, &::after {
            content: "";
            display: block;
            transition: all .5s ease;
            height: .5rem;
            position: absolute;
            top: 0;
            margin-top: .5rem;
        }

        &::after {
            width: 100%;
            background: var(--progress-bar-background);
            z-index: 1;
        }

        &::before {
            width: 0;
            z-index: 2;
            background: var(--progress-bar-completed-color);
        }

        &.completed {
            color: var(--progress-bar-completed-color);

            &::before {
                width: 100%;
            }
        }

        &:nth-of-type(1) {
            &::before, &::after {
                left: 40%;
            }

            &::after {
                width: 60%;
            }

            &.active {
                &::before {
                    width: 30%;
                }
            }

            &.completed {
                &::before {
                    width: 60%;
                }
            }
        }

        &:nth-last-of-type(1) {
            &::after {
                width: 60%;
            }

            &.active {
                &::before {
                    width: 30%;
                }
            }

            &.completed {
                &::before {
                    width: 60%;
                }
            }
        }
    }
}