:root {
    --code-color: var(--light);
    --code-background: var(--primary-step);
}

code, pre {
    font-family: monospace;
    background: var(--code-background);
    color: var(--code-color);
    font-size: inherit;
    line-height: inherit;
    transition: all .25s ease;
}

code {
    padding: 0 .25rem;
    display: inline-block;
}

pre {
    padding: .75rem 1rem;
    margin-bottom: .5rem;
    line-height: 1.25rem;
    display: block;
    overflow-x: scroll;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}
