:root {
    --slidestep-breadcrumb-background: var(--background-mid);
    --slidestep-breadcrumb-background-highlight: var(--accent);
}

.slidestep {
    overflow: hidden;
    @include hide-scrollbar();

    > div:nth-of-type(1):not(:nth-last-of-type(1)), > form {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;

        > div {
            display: block;
            flex: 0 0 100%;
            padding: 1rem;
            box-sizing: border-box;
            transition: all .5s ease;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    > div:nth-last-of-type(1) {
        text-align: center;
    }

    .breadcrumbs {
        display: flex;
        justify-content: center;
        margin: .5rem 0;

        .breadcrumb {
            background: var(--slidestep-breadcrumb-background);
            display: block;
            height: .5rem;
            width: .5rem;
            padding: 0;
            margin: 0 .5rem;
            border-radius: 50%;

            &.highlight {
                background: var(--slidestep-breadcrumb-background-highlight);
            }
        }
    }

    .finish {
        display: none;
    }

    &.complete {
        .next {
            display: none;
        }

        .finish {
            display: inline-block;
        }
    }

    // can step up to nine times
    $var: 1;
    $modifier: 0;
    @for $i from 1 through 10 {
        &[data-step="#{$var}"] {
            > div:nth-of-type(1):not(:nth-last-of-type(1)), > form {
                > div:nth-of-type(1) {
                    margin-left: calc(-100% * #{$modifier});
                }
            }
        }

        $var : $var + 1;
        $modifier: $modifier + 1;
    }
}