@use "../../elements/typography/typography";

#dashboard {
  .subscribers,
  .income {
    @include typography.fontValues(1);
    padding: 1rem;
    color: var(--primary);
    font-weight: 500;
    display: block;
  }
}
