header {
  color: var(--light);
  width: 100%;
  position: fixed;
  z-index: 10;

  &#mainHeader {
    background: transparent;
  }

  .branding {
    display: flex;
    padding: 1.5rem 2rem;
    box-sizing: border-box;
    justify-content: flex-end;

    .logo,
    .client-logo {
      img {
        width: auto;
        height: 2.5rem;
      }
    }

    span {
      flex: 0 0 auto;
      @include fontValues(8);
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 0.25rem;
    }
  }
}

@media only screen and (min-width: $breakpoint-md) {
  header {
    width: 10rem;
    top: 0;
    left: 0;
    height: 100%;

    .branding {
      margin: 0 0.25rem;

      .logo,
      .client-logo {
        img {
          width: auto;
          height: 2.5rem;
        }
      }

      span {
        @include fontValues(11);
        padding: 0 0.125rem;
      }
    }
  }
}
