header {
  display: flex;
  justify-content: center;

  &#mainHeader {
    padding: 1rem 0;
    background: var(--primary);
  }

  .logo,
  .client-logo {
    flex: 0 0 5rem;

    img {
      width: 100%;
      height: auto;
    }
  }

  span {
    flex: 0 0 auto;
    @include fontValues(8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
  }
}
