#login {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .login-form {
    width: 30rem;
    max-width: 85%;
    margin: 0 auto;
    padding: 3rem;
    display: block;
    background: var(--dark);

    header {
      padding: 2rem 0;
      color: var(--light);
    }

    form {
      box-sizing: border-box;
    }

    h1 {
      margin: 4rem 0;
      text-align: center;
      @include fontValues(8);
    }
  }
}
