nav {
  background: var(--dark-low);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: translateX(-100%);

  ul {
    margin: 0;

    li {
      list-style-type: none;
      padding: 1rem;

      a {
        text-decoration: none;
        text-align: center;
        color: var(--light);
        display: block;
        padding: 0.5rem;
      }
    }
  }
}

@media only screen and (min-width: $breakpoint-md) {
  nav {
    position: relative;
    transform: none;
    width: auto;
    height: auto;

    ul {
      li {
        a {
          @include fontValues(12);
        }
      }
    }
  }
}
