nav {
  background: var(--primary-step);

  ul {
    margin: 0;

    li {
      list-style-type: none;
      padding: 1rem;

      a {
        text-decoration: none;
        text-align: center;
        color: var(--light);
        display: block;
        padding: 0.5rem;
      }
    }
  }
}
