nav {
  background: var(--dark-low);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: translateX(-100%);

  ul {
    margin: 0;
    padding: 1rem;

    li {
      list-style-type: none;
      margin: 2rem auto;

      a {
        text-decoration: none;
        text-align: right;
        color: var(--light);
        display: block;
        padding: 0.5rem 3rem 0.5rem 0.5rem;
        position: relative;

        svg.icon {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          fill: var(--light);
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }
}

@media only screen and (min-width: $breakpoint-md) {
  nav {
    position: relative;
    transform: none;
    width: auto;
    height: auto;

    ul {
      li {
        a {
          @include fontValues(12);
        }
      }
    }
  }
}
