// PERIODIC
@import "../../styles/reset";
@import "../../styles/mixin";
@import "../../elements/typography/typography";
@import "../../styles/theme";
@import "../../elements/button/button";
@import "../../elements/form/form";
@import "../../elements/input/input";
@import "../../components/toggleswitch/toggleswitch";
@import "../../components/tile/tile";
@import "../../components/alert/_alert.scss";

// GLOBAL
@import "header";
@import "nav";
@import "fonts";

// PAGES
@import "login";
@import "dashboard";

:root {
  --base-font-family: "Poppins", sans-serif;
}

html {
  display: block !important;
  height: 100%;
}

body {
  height: 100%;
}

.split {
  height: calc(100vh - 7rem);
}

@media only screen and (min-width: $breakpoint-md) {
  .split {
    display: flex;

    nav {
      flex: 0 0 15rem;
    }

    main {
      flex: 1 1 auto;
    }
  }
}
