.audio-player {
  --audio-player-background: var(--foreground);
  --audio-player-box-shadow: 0 0 1rem 0 rgb(0 0 0 / 0.25);
  --audio-player-progress-background: var(--accent);
  --audio-player-height: 8rem;

  height: var(--audio-player-height);
  width: 100%;
  background: var(--audio-player-background);
  box-shadow: var(--audio-player-box-shadow);
  color: var(--background);
  font-size: 1rem;
  overflow: hidden;
  border: var(--audio-player-border);
  display: grid;
  grid-template-rows: 0.5rem auto;

  .timeline {
    background: var(--background);
    width: 100%;
    position: relative;
    cursor: pointer;

    .progress {
      background: var(--audio-player-progress-background);
      width: 0%;
      height: 100%;
      transition: 0.25s;
    }
  }
  .controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 0.5rem;

    > * {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .play-container {
      flex: 0 0 3rem;
      order: 2;

      .toggle-play {
        cursor: pointer;
        width: 100%;
        height: 100%;
        position: relative;

        &::before,
        &::after {
          content: "";
        }

        &.play {
          &::before {
            display: block;
            left: 0;
            height: 0;
            width: 0;
            border: 0.75rem solid #0000;
            border-left: 1.25rem solid white;
            position: absolute;
            top: 50%;
            left: 65%;
            transform: translate(-50%, -50%);
          }
        }

        &.pause {
          &::before,
          &::after {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: white;
            content: "";
            height: 1.5rem;
            width: 0.25rem;
          }

          &:before {
            left: 1rem;
          }

          &:after {
            right: 1rem;
          }
        }
      }
    }

    .time {
      flex: 0 0 calc(100% - 6rem);
      order: 3;
      display: flex;

      > * {
        padding: 2px;
      }
    }

    .name {
      flex: 0 0 100%;
      order: 1;
    }

    .volume-container {
      flex: 0 0 3rem;
      cursor: pointer;
      order: 4;

      .volume-button {
        height: 26px;
        width: 26px;
        display: flex;
        align-items: center;

        svg {
          fill: var(--background);
        }

        .iconspeaker {
          display: block;
        }

        .iconmute {
          display: none;
        }

        &.mute {
          .iconspeaker {
            display: none;
          }

          .iconmute {
            display: block;
          }
        }
      }

      position: relative;
      z-index: 2;

      .volume-slider {
        position: absolute;
        left: -3px;
        top: 50%;
        transform: translateY(-50%);
        z-index: -1;
        width: 0;
        height: 15px;
        background: var(--background-mid);
        box-shadow: 0 0 20px #000a;
        transition: 0.25s;

        .volume-percentage {
          background: var(--accent);
          height: 100%;
          width: 75%;
        }
      }

      &:hover {
        .volume-slider {
          left: -123px;
          width: 120px;
        }
      }
    }
  }
}

@media only screen and (min-width: $breakpoint-md) {
  .audio-player {
    --audio-player-height: 4rem;

    .controls {
      .play-container {
        order: 1;
      }

      .time {
        flex: 0 0 10rem;
        order: 2;
      }

      .name {
        flex: 0 0 calc(100% - 16rem);
        order: 3;
      }

      .volume-container {
        order: 4;
      }
    }
  }
}
