extends _admin-base.pug

include ../../components/tile/_tile.pug

block content
  h1 Dashboard 

  section#dashboard
    //- .tile-grid
    //-   +tile("Subscribers")
    //-     span.subscribers 25,499 

    //-   +tile("Monthly Income")
    //-     span.income $125,322

    //- a.btn(href="/admin/content/add") Create New Content

block scripts