:root {
  --field-background: var(--background);
  --field-toggle-background: var(--background-mid);
  --field-input-color: var(--foreground);
  --field-label-color: var(--foreground);
  --field-focus-color: var(--accent);
  --field-focus-opacity: 0.15;
  --field-border-width: 0.125rem;
  --field-padding: 0.75rem;

  --reorganizeItem-background: var(--background-mid);
}

@keyframes focus {
  from {
    opacity: var(--field-focus-opacity);
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(750);
  }
}

.field {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;

  input,
  textarea,
  select {
    @include fontValues(10);
    outline: none;
    min-height: 3.75rem;
    font-family: var(--base-font-family);
    -webkit-appearance: none;
  }

  textarea {
    resize: none;
    line-height: var(--f9-line-height);
  }

  select {
    text-overflow: ellipsis;
    color: var(
      --field-background
    ) !important; // to keep it "transparent" so the faux-select can keep things centered
  }

  .wrapper {
    position: relative;
    overflow: hidden;
    margin: 0.5rem 0;
    display: block;

    &.overflow-visible {
      overflow: visible;
    }

    .faux-select {
      position: absolute;
      top: var(--field-border-width);
      left: var(--field-border-width);
      width: calc(100% - var(--field-border-width) * 2);
      height: calc(100% - var(--field-border-width) * 2);
      padding: var(--field-padding);
      box-sizing: border-box;
      pointer-events: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      white-space: nowrap;
      overflow: hidden;
      border-radius: var(--border-radius);

      &::before {
        content: "";
        width: 5rem;
        height: calc(100% - var(--field-border-width));
        position: absolute;
        top: 0;
        right: 0;
        background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0) 0%,
          var(--field-background) 50%,
          var(--field-background) 100%
        );
      }

      &::after {
        content: "";
        width: 0.75rem;
        height: 0.75rem;
        box-sizing: border-box;
        border-right: var(--field-border-width) solid var(--field-input-color);
        border-bottom: var(--field-border-width) solid var(--field-input-color);
        position: absolute;
        top: 50%;
        right: 1rem;
        transform: translateY(calc(-50% - 0.25rem)) rotate(45deg);
      }
    }

    &.has-prefix {
      input {
        padding-left: 1.75rem !important;
      }

      .prefix {
        position: absolute;
        top: 50%;
        left: 1rem;
        transform: translateY(-50%);
        display: block;
        width: 1rem;
        height: 1rem;
        fill: var(--field-input-color);
        color: var(--field-input-color);
      }
    }
  }

  label {
    @include fontValues(10);
    color: var(--field-label-color);
    padding-top: 0.5rem;
  }

  .preview {
    display: block;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    background: var(--field-background);
    border-radius: var(--border-radius);
    margin: 0.5rem 0;
    position: relative;
    border: var(--field-border-width) solid var(--border-color);
    overflow: hidden;

    .imagePreview {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      z-index: 1;
      opacity: 0;

      &.loaded {
        opacity: 1;
      }
    }

    .square {
      opacity: 0;
      pointer-events: none;
    }

    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      fill: var(--field-input-color);
      width: 25%;
      opacity: 0.5;
    }
  }

  .reorderList {
    margin: 0;
    padding: 0.5rem;

    .reorderItem {
      list-style-type: none;
      margin: 0.25rem 0;
      padding: 0.5rem;
      background: var(--reorganizeItem-background);
      border-radius: var(--border-radius);
      display: flex;
      transition: transform 0.25s ease;

      .handle {
        display: block;
        width: 2rem;
        height: 2rem;
        cursor: move;

        .icon {
          width: 100%;
          height: 100%;
        }
      }

      span {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &.dragging {
        transform: scale(1.1);
        box-shadow: var(--box-shadow);
        pointer-events: none;
      }
    }
  }

  .help {
    display: block;
    @include fontValues(11);
  }

  .validation {
    display: block;
    @include fontValues(11);
    color: var(--red);
  }

  // hande non-checkbox and non-radio
  &:not(.checkbox-field):not(.radio-field) {
    label {
      display: block;
    }

    .wrapper {
      background: var(--field-background);
      border-radius: var(--border-radius);

      &.invalid {
        --border-color: var(--red);
      }

      .focus {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background: var(--field-focus-color);
        opacity: 0;
        width: 1px;
        height: 1px;
        border-radius: 50%;
      }
    }

    input,
    textarea,
    select {
      display: block;
      padding: var(--field-padding);
      box-sizing: border-box;
      border: 0.125rem solid var(--border-color);
      border-radius: var(--border-radius);
      transition: border-color 0.5s ease;
      transition-delay: 0.25s;
      color: var(--field-input-color);
      width: 100%;
      background: transparent;
      margin: 0;

      &:focus {
        border-color: var(--field-focus-color);

        + .focus {
          animation: focus 1s forwards;
          animation-delay: 0.01s;
        }
      }
    }
  }

  &.checkbox-field,
  &.radio-field,
  &.toggle-field {
    display: flex;

    input {
      min-height: 0;
      -webkit-appearance: auto;
    }

    // .wrapper {
    //   position: relative;
    //   padding-left: 2.5rem;
    //   height: 2.5rem;

    //   &::before,
    //   &::after {
    //     content: "";
    //     display: block;
    //     position: absolute;
    //     width: 2rem;
    //     height: 2rem;
    //     left: 0;
    //     top: 50%;
    //     transform: translateY(-50%);
    //   }

    //   &::before {
    //     z-index: 2;
    //   }

    //   &::after {
    //     z-index: 1;
    //     background: var(--field-toggle-background);
    //   }
    // }

    label {
      padding: 0 0 0 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  // &.checkbox-field {
  //   .wrapper {
  //     &::before {
  //       opacity: 0;
  //       height: 0.5rem;
  //       width: 1rem;
  //       border-left: var(--1-5rem) solid var(--field-input-color);
  //       border-bottom: var(--1-5rem) solid var(--field-input-color);
  //       transform: rotate(-45deg) translateY(-50%) scale(0.75);
  //       left: 0.675rem;
  //       top: 40%;
  //       transition: opacity 0.125s ease, transform 0.25s ease;
  //     }

  //     &::after {
  //       border-radius: var(--border-radius);
  //     }

  //     &[data-checked="true"] {
  //       &::before {
  //         opacity: 1;
  //         transform: rotate(-45deg) translateY(-50%) scale(1);
  //       }
  //     }
  //   }
  // }
}
