.carbine-co-credit {
  opacity: 0.75;

  .text {
    @include fontValues(12);
    color: var(--foreground);
  }

  .carbine-co-logo {
    width: 100%;
    max-width: 7rem;
    margin: 0.25rem auto;

    svg {
      fill: var(--foreground);
    }
  }
}
