#datasets {
  .card {
    > div {
      width: 100%;
      display: flex;

      h2 {
        flex: 1 1 auto;
        margin: 0;
        padding-left: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .btn {
        flex: 0 0 auto;
      }
    }
  }
}
