.card.edit {
  > div {
    width: 100%;

    .title-edit {
      flex: 1 1 auto;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 0.5rem;

      h2 {
        flex: 0 0 100%;
        margin: 0.5rem;
        word-break: break-word;
        order: 2;
      }

      .edit {
        flex: 0 0 100%;
        order: 1;
      }
    }

    .preview {
      padding-left: 0.5rem;

      img {
        height: 20rem;
        width: auto;
        max-width: 100%;
        display: block;
        object-fit: contain;
        border-radius: var(--border-radius);
      }

      .btn-container {
        margin-top: 0;
      }
    }
  }
}

@media only screen and (min-width: $breakpoint-md) {
  .card.edit {
    > div {
      .title-edit {
        h2 {
          flex: 1 1 auto;
          order: 1;
        }

        .edit {
          flex: 0 0 auto;
          order: 2;
        }
      }
    }
  }
}
