// PERIODIC
@import "../../styles/reset";
@import "../../styles/mixin";
@import "../../styles/animations";
@import "../../elements/typography/typography";
@import "../../styles/theme";
@import "../../elements/button/button";

.btn {
  --btn-border-radius: 25px;
  box-shadow: var(--box-shadow);
}

@import "../../elements/nav/nav";
@import "../../elements/form/form";
@import "../../elements/input/input";
@import "../../components/toggleswitch/toggleswitch";
@import "../../components/tile/tile";
@import "../../components/alert/alert";
@import "../../components/modal/modal";
@import "../../components/card/card";

.card {
  border-radius: 25px;
}

// GLOBAL
@import "vars";
@import "text";
@import "header";
@import "nav";
@import "main";
@import "fonts";
@import "footer";

// PAGES
@import "login";
@import "dashboard";

:root {
  --base-font-increase: 1.12;
}

html {
  display: block !important;
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;

  header {
    flex: 0 0 auto;
  }

  main {
    flex: 1 1 auto;
  }

  footer {
    flex: 0 0 auto;
  }
}

@media only screen and (min-width: $breakpoint-md) {
}
