// PERIODIC
@import "../../styles/reset";
@import "../../styles/mixin";
@import "../../styles/animations";
@import "../../elements/typography/typography";
@import "../../styles/theme";
@import "../../elements/button/button";

.btn {
  --btn-border-radius: 25px;
  box-shadow: var(--box-shadow);
  transform: scale(1);

  &:hover {
    transform: scale(0.975);
    box-shadow: none;
  }
}

@import "../../elements/nav/nav";
@import "../../elements/form/form";
@import "../../elements/input/input";
@import "../../components/toggleswitch/toggleswitch";

.toggle {
  --toggle-switch-active: var(--primary);
}

@import "../../components/tile/tile";
@import "../../components/alert/alert";
@import "../../components/modal/modal";

@keyframes zeldaIn {
  from {
    opacity: 0;
    transform: scale(1.5);
    filter: blur(10px);
  }

  to {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
  }
}

.modal {
  --modal-padding: 4rem;
  animation: zeldaIn 0.5s forwards;
  animation-delay: 0.125s;
  opacity: 0;
  transform: scale(1.5);
  filter: blur(10px);

  .hidden {
    display: none !important;
  }

  form {
    --form-max-width: 100%;
    padding: 0;
    margin: 0;
  }
}

@import "../../components/card/card";
@import "../../components/loader/loader";
@include loadingDots();

@keyframes morph {
  from {
    transform: scale(0.99);
    box-shadow: none;
  }

  to {
    transform: scale(1);
    box-shadow: 12px 12px 24px rgba(0, 0, 0, 0.125), -12px -12px 24px #fff;
  }
}

.card {
  border-radius: 25px;
  width: calc(100% - 2rem);
  max-width: 60rem;
  background: var(--light-low);
  transform: scale(0.99);
  box-shadow: none;
  animation: morph 0.75s forwards;
  animation-delay: 0.125s;
}

.card-canvas {
  flex: 1 1 auto;
  position: relative;
}

// GLOBAL
@import "vars";
@import "text";
@import "header";
@import "nav";
@import "main";
@import "fonts";
@import "footer";

// PAGES
@import "login";
@import "dashboard";
@import "datasets";
@import "datapoints";

:root {
  --base-font-increase: 1.12;
}

html {
  display: block !important;
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;

  header {
    flex: 0 0 auto;
  }

  main {
    flex: 1 1 auto;
  }

  footer {
    flex: 0 0 auto;
  }
}

pre {
  white-space: break-spaces;
  font-family: monospace;
  background: var(--light);
  border: 1px solid var(--border-color);
  padding: 1rem;
  border-radius: var(--border-radius);
  @include fontValues(11, 8);
}

@media only screen and (min-width: $breakpoint-md) {
}
