.accordion {
  --accordion-toggle-background: var(--background-low);
  --accordion-toggle-color: var(--foreground);
  --accordion-toggle-font-size: var(--base-font-size);
  --accordion-toggle-padding: 1rem;
  --accordion-body-background: var(--background);
  --accordion-body-color: var(--foreground);
  --accordion-highlight-body-background: var(--yellow-step);
  --accordion-border: 1px solid var(--border-color);

  display: block;
  border: var(--accordion-border);
  position: relative;
  overflow: hidden;

  > button {
    cursor: pointer;
    padding: var(--accordion-toggle-padding);
    color: var(--accordion-toggle-color);
    background: var(--accordion-toggle-background);
    font-size: var(--accordion-font-size);
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    border: none;

    > * {
      flex: 0 0 auto;
      position: relative;
      padding-right: 2.25rem;
      width: calc(100% - 2rem);
      display: block;

      &::before,
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        width: 0.5rem;
        height: 2px;
        background: var(--accordion-toggle-color);
        transition: all 0.5s ease;
      }

      &::before {
        right: calc(1.5rem - 3px);
        transform: translateY(-50%) rotate(45deg);
      }

      &::after {
        right: 1rem;
        transform: translateY(-50%) rotate(-45deg);
      }
    }

    &.open {
      > * {
        &::before {
          right: calc(1.5rem - 3px);
          transform: translateY(-50%) rotate(-45deg);
        }

        &::after {
          right: 1rem;
          transform: translateY(-50%) rotate(45deg);
        }
      }
    }
  }

  .accordion-body {
    position: absolute;
    width: 100%;
    visibility: hidden;
    overflow: hidden;
    color: var(--accordion-body-color);
    background: var(--accordion-body-background);
    box-sizing: border-box;
    transition: height 0.5s ease;
    z-index: -1;

    &.open {
      height: 0;
      position: relative;
      visibility: visible;
      z-index: 1;
    }
  }

  &.highlighted {
    .accordion-body {
      background: var(--accordion-highlight-body-background);
    }
  }
}
