.accordion {
  --accordion-button-font-size: var(--f10-font-size);
  --accordion-button-background: var(--background-low);
  --accordion-button-color: var(--foreground);
  --accordion-button-font-size: var(--base-font-size);
  --accordion-button-padding: 1rem;
  --carat-width: calc(var(--accordion-button-font-size) * 0.75);
  --accordion-body-background: var(--background);
  --accordion-body-color: var(--foreground);
  --accordion-highlight-body-background: var(--yellow-step);
  --accordion-border: 1px solid var(--border-color);

  &.sm {
    --accordion-button-padding: 0.25rem;
    --accordion-button-font-size: var(--f12-font-size);
  }

  display: block;
  border: var(--accordion-border);
  position: relative;
  overflow: hidden;

  .accordion-button {
    cursor: pointer;
    padding: var(--accordion-button-padding);
    color: var(--accordion-button-color);
    background: var(--accordion-button-background);
    font-size: var(--accordion-button-font-size);
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    border: none;

    > * {
      flex: 0 0 auto;
      position: relative;
      padding-right: 2.5rem;
      width: calc(100% - 2rem);
      display: block;

      &::before,
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        width: var(--carat-width);
        height: calc(var(--accordion-button-font-size) / 6);
        background: var(--accordion-button-color);
        transition: all 0.5s ease;
      }

      &::before {
        right: calc(
          calc(1rem + var(--carat-width)) - calc(var(--carat-width) / 3)
        );
        transform: translateY(-50%) rotate(45deg);
      }

      &::after {
        right: 1rem;
        transform: translateY(-50%) rotate(-45deg);
      }
    }

    &.open {
      > * {
        &::before {
          transform: translateY(-50%) rotate(-45deg);
        }

        &::after {
          transform: translateY(-50%) rotate(45deg);
        }
      }
    }
  }

  .accordion-body {
    position: absolute;
    width: 100%;
    visibility: hidden;
    overflow: hidden;
    color: var(--accordion-body-color);
    background: var(--accordion-body-background);
    box-sizing: border-box;
    transition: height 0.5s ease;
    z-index: -1;

    &.open {
      height: 0;
      position: relative;
      visibility: visible;
      z-index: 1;
    }
  }

  &.highlighted {
    .accordion-body {
      background: var(--accordion-highlight-body-background);
    }
  }
}
