button {
  outline: none;
  cursor: pointer;
}

.btn {
  --btn-border-radius: 0;
  --btn-background: var(--primary);
  --btn-color: var(--light);
  --btn-focus-color: var(--light);
  --btn-focus-background: var(--primary-step);
  --btn-font-weight: 400;
  --btn-font-size: var(--f9-font-size);
  --btn-line-height: var(--f9-line-height);
  --btn-padding-x: 1.125rem;
  --btn-padding-y: 1.5rem;

  &.sm {
    --btn-font-size: var(--f11-font-size);
    --btn-line-height: var(--f11-line-height);
    --btn-padding-x: 1.125rem;
    --btn-padding-y: 1.5rem;
  }

  outline: none;
  padding: var(--btn-padding-x) var(--btn-padding-y);
  border: none;
  transition: all 0.25s ease;
  font-size: var(--btn-font-size);
  text-decoration: none;
  line-height: var(--btn-line-height);
  display: inline-block;
  font-weight: var(--btn-font-weight);
  font-family: unset; // override browser defaults and listen to the body
  margin: 0.25rem 0;
  background: var(--btn-background);
  color: var(--btn-color);
  border-radius: var(--btn-border-radius);
  cursor: pointer;
  box-sizing: border-box;

  svg.icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--btn-color);
    transform: translateY(10%);
    margin-right: 0.5rem;
  }

  &:focus,
  &:hover {
    background: var(--btn-focus-background);
    color: var(--btn-focus-color);
  }

  &.block {
    display: block;
    width: 100%;
  }

  &.accent {
    --btn-background: var(--accent);
    --btn-focus-background: var(--accent-step);
  }

  &.transparent {
    --btn-background: rgba(0, 0, 0, 0.1);
    --btn-focus-background: rgba(0, 0, 0, 0.2);
  }
}

.btn-container {
  margin: 1rem 0;

  .btn {
    width: 100%;
  }
}

@media only screen and (min-width: $breakpoint-md) {
  .btn-container {
    .btn {
      width: auto;
      max-width: 80%;

      &:nth-of-type(n + 2) {
        margin-left: 0.5rem;
      }
    }
  }
}
