.datapoint {
  display: flex;

  .data {
    flex: 1 1 auto;
  }

  .btn-container {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .btn {
      max-width: none;
    }
  }
}

.datapointCards {
  padding: 2rem;
}

#datapointFormSelectors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .datapointFormSelector {
    width: 10rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    @include fontValues(9);
    background: transparent;

    svg.icon {
      width: 4rem;
      height: 4rem;
      margin: 1rem auto;
      fill: var(--foreground);
    }
  }
}
