// PERIODIC
@import "../../styles/reset";
@import "../../styles/mixin";
@import "../../styles/animations";
@import "../../styles/typography";
@import "../../styles/theme";
@import "../../components/btn/btn";

:root {
  @include darkTheme;
}

.btn {
  --btn-border-radius: 25px;
  box-shadow: var(--box-shadow);
  transform: scale(1);

  &:hover {
    transform: scale(0.975);
    box-shadow: none;
  }
}

@import "../../elements/nav/nav";
@import "../../elements/form/form";
@import "../../elements/input/input";
@import "../../components/toggle/toggle";

.toggle {
  --toggle-switch-active: var(--primary);
}

@import "../../components/tile/tile";
@import "../../components/alert/alert";
@import "../../components/modal/modal";
@import "../../components/accordion/accordion";
@import "../../components/dropdown/dropdown";
@import "../../components/field/field";

.accordion {
  --accordion-border: none;
  --accordion-title-background: transparent;
  --accordion-body-background: transparent;
}

@keyframes zeldaIn {
  0% {
    opacity: 0;
    transform: scale(1.2);
    filter: blur(10px);
  }

  75% {
    opacity: 1;
    filter: blur(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
  }
}

.modal {
  animation: zeldaIn 0.5s forwards;
  animation-delay: 0.125s;
  opacity: 0;
  transform: scale(1.2);
  filter: blur(10px);

  .hidden {
    display: none !important;
  }

  form {
    --form-max-width: 100%;
    padding: 0;
    margin: 0;
  }
}

@import "../../components/card/card";
@import "../../components/loader/loader";
@include loadingDots();

@keyframes morph {
  from {
    transform: scale(0.99);
    box-shadow: none;
  }

  to {
    transform: scale(1);
    box-shadow: 12px 12px 24px var(--superbackground),
      -12px -12px 24px var(--background-mid);
  }
}

.card {
  border-radius: 25px;
  width: 100%;
  max-width: 80rem;
  background: var(--background-low);
  transform: scale(0.99);
  box-shadow: none;
  animation: morph 0.75s forwards;
  animation-delay: 0.125s;

  &.inactive {
    opacity: 0.75;
  }

  h2 {
    svg.icon {
      width: 2.5rem;
      height: 2.5rem;
      margin-right: 1rem;
      display: inline;
      transform: translateY(12%);
      fill: var(--foreground);
    }
  }
}

.card-canvas {
  flex: 1 1 auto;
  position: relative;
}

// GLOBAL
@import "vars";
@import "text";
@import "body";
@import "header";
@import "nav";
@import "main";
@import "fonts";
@import "fanart";
@import "footer";

// PAGES
@import "login";
@import "dashboard";
@import "datasets";
@import "datapoints";

:root {
  --base-font-increase: 1.12;
}

html {
  display: block !important;
  height: 100%;
}

pre {
  white-space: break-spaces;
  font-family: monospace;
  background: var(--light);
  border: 1px solid var(--border-color);
  padding: 1rem;
  border-radius: var(--border-radius);
  @include fontValues(11, 8);
}

@media only screen and (min-width: $breakpoint-md) {
}
