.card.edit {
  .title-edit {
    flex: 1 1 auto;
    margin: 0;
    display: flex;
    margin-bottom: 0.5rem;

    h2 {
      flex: 0 0 calc(100% - 4rem);
      margin: 0.5rem 0;
      word-break: break-word;
      @include fontValues(4);
    }

    .edit {
      flex: 0 0 4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      > .btn {
        margin-left: 0.5rem;

        svg.icon {
          margin-right: 0;
        }

        .text {
          display: none;
        }
      }
    }
  }

  .accordion {
    padding: 0;

    .accordion-title {
      padding: 0;
    }

    .accordion-body {
      padding: 0;
    }
  }

  .preview {
    img {
      height: 20rem;
      width: auto;
      max-width: 100%;
      display: block;
      object-fit: contain;
      border-radius: var(--border-radius);
    }

    .btn-container {
      margin-top: 0;
    }
  }
}

@media only screen and (min-width: $breakpoint-md) {
  .card.edit {
    .title-edit {
      h2 {
        flex: 1 1 auto;
        order: 1;
      }

      .edit {
        flex: 0 0 auto;
        flex-direction: row;
        order: 2;
        justify-content: flex-end;

        .btn {
          svg.icon {
            margin-right: 1rem;
          }

          .text {
            display: inline;
          }
        }
      }
    }
  }
}
