:root {
  --alert-color: var(--foreground);
  --alert-font-size: var(--f10-font-size);
  --alert-font-size-sm: var(--f12-font-size);
  --alert-font-weight: 100;
  --alert-default-background: var(--background-grey);
  --alert-default-overlay: var(--background-mid);
  --alert-default-color: var(--foreground-grey);
}

.alert {
  --background: var(--alert-default-background);
  --color: var(--alert-default-color);
  --overlay: var(--alert-default-overlay);

  font-size: var(--alert-font-size);
  font-weight: var(--alert-font-weight);
  margin: 0.5rem;
  position: relative;
  transition: all 0.5s ease;
  height: auto;
  padding: 1rem;
  overflow: hidden;
  opacity: 1;
  box-sizing: border-box;
  color: var(--alert-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);

  &::after {
    content: "";
    background: var(--background);
    @include absolute-center();
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  &.sm {
    font-size: var(--alert-font-size-sm);
  }

  p,
  li {
    color: var(--color);
    position: relative;
    z-index: 1;
    @include fontValues(11);
  }

  p {
    margin: 0;
  }

  &.dismissed {
    height: 0px !important;
    opacity: 0;
    border-width: 0;
    margin: 0 0.5rem;
  }

  button {
    &::before,
    &::after {
      background: var(--color);
    }
  }

  &.success {
    --background: var(--success);
    --overlay: var(--success-dark);
    --color: var(--success-on);
  }

  &.caution {
    --background: var(--caution);
    --overlay: var(--caution-dark);
    --color: var(--caution-on);
  }

  &.urgent {
    --background: var(--urgent);
    --overlay: var(--urgent-dark);
    --color: var(--urgent-on);
  }

  &.toast {
    position: absolute;
    z-index: 8;
    width: 100%;
    bottom: 0.5rem;
    left: 50%;
    padding: 1rem;
    transform: translate(-50%, 120%);
    transition: all 0.25s ease;
    opacity: 0;
    box-shadow: var(--box-shadow);

    &.visible {
      transform: translate(-50%, 0);
      opacity: 1;
    }

    &.auto {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: var(--overlay);
        z-index: 1;
      }
    }
  }

  &.dismissable {
    padding: 1rem 3rem 1rem 2rem;

    button.dismiss {
      background: transparent;
      border: transparent;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0.75rem;
      width: 0.75rem;
      height: 0.75rem;
      padding: 0;
      margin: 0;
      z-index: 1;
      opacity: 0.75;
      transition: all 0.5s ease;

      &::before,
      &::after {
        content: "";
        height: 2px;
        width: 100%;
        display: block;
        position: absolute;
        transition: all 0.5s ease;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }

      &:hover,
      &:focus {
        opacity: 1;
      }
    }
  }
}

// quick positioning for anything that becomes a toast parent
.toast-parent {
  position: relative;
}

// and some styles for forms
form {
  .alert.toast {
    max-width: 80%;
    text-align: center;
  }
}
