:root {
  --primary: #455a64;
  --primary-step: #33434a;
  --accent: #ffc317;
  --accent-step: #ffcb29;

  --dark: #252422;
  --dark-low: #383736;
  --dark-mid: #999794;
  --light: #fff;
  --light-low: #fcfcfc;
  --light-mid: #eee;
  --border-color: rgba(0, 0, 0, 0.125);

  --foreground: var(--dark);
  --foreground-low: var(--dark-low);
  --foreground-mid: var(--dark-mid);
  --background: var(--light);
  --background-low: var(--light-low);
  --background-mid: var(--light-mid);

  --green: #32965d;
  --green-step: #c8e1d2;
  --red: #be5446;
  --red-step: #edd7d4;

  --positive: var(--green);
  --negative: var(--red);

  --box-shadow: 0px 7px 10px -5px rgba(0, 0, 0, 0.25);
  --border-radius: 0.25rem;
  --border-color: rgba(100, 40, 40, 0.125);
}

html.darkmode {
  --foreground: var(--light);
  --foreground-low: var(--light-low);
  --foreground-mid: var(--light-mid);
  --background: var(--dark);
  --background-low: var(--dark-low);
  --background-mid: var(--dark-mid);
  --border-color: rgba(255, 255, 255, 0.25);
}
