:root {
  --primary-light: #dd6980;
  --primary: #d23756;
  --primary-dark: #b72a46;
  --primary-on: var(--light);

  --accent-light: #fbdd88;
  --accent: #f9c22e;
  --accent-dark: #edb007;
  --accent-on: var(--dark);

  --superdark: #121315;
  --dark: #16171b;
  --dark-mid: #202127;
  --dark-grey: #27272f;

  --midtone: #888888;

  --light-grey: #e0e0e0;
  --light-mid: #f5f5f5;
  --light: #f7f7f7;
  --superlight: #fafafa;

  --superforeground: var(--superdark);
  --foreground: var(--dark);
  --foreground-mid: var(--dark-mid);
  --foreground-grey: var(--dark-grey);
  --background: var(--light);
  --background-mid: var(--light-mid);
  --background-grey: var(--light-grey);
  --superbackground: var(--superlight);

  // default urgent, warning and success colors
  --success-light: #7cb69b;
  --success: #42765e;
  --success-dark: #2c4e3e;
  --success-on: var(--light);

  --urgent-light: #e37882;
  --urgent: #ba2635;
  --urgent-dark: #871c27;
  --urgent-on: var(--light);

  --caution-light: #fbd774;
  --caution: #edb007;
  --caution-dark: #b28406;
  --caution-on: var(--dark);

  --link-color: var(--primary);

  --box-shadow-color: rgba(0, 0, 0, 0.125); // less intense for light themes
  --box-shadow: 0px 7px 10px -5px var(--box-shadow-color);
  --text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.25);
  --border-radius: 0.25rem;
  --border-color: rgba(100, 40, 40, 0.125);

  --1-2rem: calc(1rem / 2);
  --1-3rem: calc(1rem / 3);
  --2-3rem: calc(var(--1-3rem) * 2);
  --1-4rem: calc(1rem / 4);
  --3-4rem: calc(var(--1-4rem) * 3);
  --1-5rem: calc(1rem / 5);
  --2-5rem: calc(var(--1-5rem) * 2);
  --3-5rem: calc(var(--1-5rem) * 3);
  --4-5rem: calc(var(--1-5rem) * 4);
  --1-6rem: calc(1rem / 6);
  --5-6rem: calc(var(--1-6rem) * 5);
  --1-7rem: calc(1rem / 7);
  --2-7rem: calc(var(--1-7rem) * 2);
  --3-7rem: calc(var(--1-7rem) * 3);
  --4-7rem: calc(var(--1-7rem) * 4);
  --5-7rem: calc(var(--1-7rem) * 5);
  --6-7rem: calc(var(--1-7rem) * 6);
  --1-8rem: calc(1rem / 8);
  --3-8rem: calc(var(--1-8rem) * 3);
  --5-8rem: calc(var(--1-8rem) * 5);
  --7-8rem: calc(var(--1-8rem) * 7);
}

@mixin darkTheme {
  --superforeground: var(--superlight);
  --foreground: var(--light);
  --foreground-mid: var(--light-mid);
  --foreground-grey: var(--light-grey);
  --background: var(--dark);
  --background-mid: var(--dark-mid);
  --background-grey: var(--dark-grey);
  --superbackground: var(--superdark);

  --border-color: rgba(95, 95, 95, 0.25);
  --box-shadow-color: rgba(0, 0, 0, 0.25); // more intense for dark themes
}

html[data-theme="dark"] {
  @include darkTheme;
}

// default assigning of base body color variables
body {
  background: var(--background);
  color: var(--foreground);

  a {
    color: var(--link-color);
  }
}
