@use "mixin";

$levels: 15;

:root {
  --root-font-size: 12px; // smallest font size per wcag
  --root-font-increase: 1.05;

  // p
  --p-margin: calc(var(--base-font-size) * 0.75) 0;

  // strong
  --strong-font-weight: 500;

  // anchor
  --anchor-color: var(--accent);

  // font values
  --base-font-family: "Open Sans", sans-serif;
  --base-line-height: calc(var(--base-font-size) * 1.5);
  --base-font-weight: 300;

  // smalls screens, root is base
  // but on larger screens (below) we increase it
  --base-font-size: var(--root-font-size);
  --base-font-increase: 1.175;
  --base-font-line-height-increase: 0.9;

  @for $level from 1 through $levels {
    $i: calc($level - 1);
    $fontLevel: calc(12 - $i);
    $increasePower: 1;

    @for $ii from 0 to $i {
      $increasePower: calc(#{$increasePower} * var(--base-font-increase));
    }

    --f#{$fontLevel}-font-size: calc(var(--base-font-size) * #{$increasePower});
    --f#{$fontLevel}-line-height: calc(
      var(--f#{$fontLevel}-font-size) * var(--base-font-line-height-increase)
    );

    @if $fontLevel <= 6 {
      --f#{$fontLevel}-margin: 0
        0
        calc(var(--f#{$fontLevel}-font-size) * 0.25)
        0;
    }
  }
}

html {
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  font-weight: var(--base-font-weight);
  font-family: var(--base-font-family);
}

@mixin fontValues($size, $height: $size, $weight: $size) {
  font-size: var(--f#{$size}-font-size);
  line-height: var(--f#{$height}-line-height);
}

body {
  @include fontValues(10, 6);
}

p {
  margin: var(--p-margin);

  + p {
    margin: 0 0 0.75rem 0;
  }
}

a {
  cursor: pointer;
  color: var(--anchor-color);
}

strong {
  font-weight: var(--strong-font-weight);
}

@mixin headingValues($size, $height: $size, $weight: $size) {
  @include fontValues($size, $height, $weight);

  span {
    display: block;
    font-size: calc(var(--f#{$size}-font-size) * 0.5);
    line-height: calc(var(--f#{$height}-line-height) * 0.45);
  }
}

@for $i from 1 through 6 {
  h#{$i},
  .h#{$i} {
    @include headingValues(#{$i});
    margin: var(--f#{$i}-margin);

    + p {
      margin-top: 0;
    }
  }
}

@for $i from 1 through $levels {
  .f#{$i} {
    @include fontValues(#{$i});
  }
}

ul,
ol {
  margin-bottom: 0.75rem;
  margin-left: 1.5rem;
}

ul li {
  list-style-type: circle;
}

@media only screen and (min-width: mixin.$breakpoint-md) {
  :root {
    --base-font-size: calc(var(--root-font-size) * var(--root-font-increase));
  }
}

@media only screen and (min-width: mixin.$breakpoint-lg) {
  :root {
    --base-font-size: calc(
      var(--root-font-size) * var(--root-font-increase) *
        var(--root-font-increase)
    );
  }
}

@media only screen and (min-width: mixin.$breakpoint-xl) {
  :root {
    --base-font-size: calc(
      var(--root-font-size) * var(--root-font-increase) *
        var(--root-font-increase) * var(--root-font-increase)
    );
  }
}
